.site-footer {
    color: rgb(117, 114, 110);
    background-color: #1F130C;
    & a {
        text-decoration: none;  
        color: #ECB200; 
    }
    & a:hover{
        color: rgb(39, 188, 238);
    }
    & h4 {
        padding-bottom: 0.5em;
        color: aliceblue;
        @include bp(phone){
            padding-bottom: 0;
        }
    }
    & .site-footer-wrapper {
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        padding-top: 2em;
        @include bp(phone){
            display: block;
        }
    }

    & .site-footer-about {
        max-width: 40%;
        padding: 2em;
        @include bp(mobile){
            max-width: 100%;
        }
        @include bp(phone){
            max-width: 100%;
        }
    }
    & .site-footer-links, .site-footer-contacts {
        max-width: 25%;
        padding: 2em;
        margin-left: 3em;
        @include bp(mobile){
            display: block;
            min-width: 34%;
            padding: 0;
            margin-left: 2em;
            padding-bottom: 1em;
        }
        @include bp(phone){
            max-width: 100%;
            padding: 0;
            margin-left: 2em;
        }
    }
    & .site-footer-links {
        @include bp(phone){
            display: flex;
            flex-direction: column;
        }
        & a{
            @include bp(phone){
                padding-top: 1em;
            }
        }
    }
}

.site-footer-contacts {
    & li {
        list-style-type: none;
    }
    & li:nth-child(1){
        padding-top: 2em;
        text-transform: uppercase;
        @include bp(phone){
            padding-top: 1em;
        }
    }
    & li:nth-child(2), li:nth-child(3){
        padding-top: 1em;
    }
    & li:nth-child(2) > a::before {  
        padding-right: 1em; 
        font-family: 'Font Awesome 5 Free';
        content: '\f095';
        font-weight: 900;
    }
    & li:nth-child(3) > a::before {  
        padding-right: 1em;  
        font-family: 'Font Awesome 5 Free';
        content: '\f0e0';
    }
}

.site-footer-links {
    & a::before {
        padding-right: 1em; 
        font-family: 'Font Awesome 5 Free';
        content: '\f0c1';
        font-weight: 900;
    }
    & select {
        width: 12em;
        margin-top: 1.6em;
        font-size: 16px;
        padding: 0.3em;
        color: #ECB200;
    }
    & a::before, select{
        @include bp(phone){
            margin-bottom: 1em;
        }
    }
    @include bp(phone){
        margin-top: 2.5em;
    }
}


.site-footer-bottom {
    width: 1200px;
    display: flex;
    max-width: 100%;
    padding: 1.5em 0 1.5em 2em;

    & .back-to-top {
        margin-left: auto;
        padding-right: 2em;
    }
    & .back-to-top::before {
        font-family: 'Font Awesome 5 Free';
        font-size: 25px;
        content: '\f077';
        font-weight: 900;
    }
    & .site-footer-rights::before {
        font-family: 'Font Awesome 5 Free';
        content: '\f1f9';
        //font-weight: 900;
    }
}
.end {
    display: flex;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    margin-top: -5.4em;
}