body {
    max-width: 100%;
    margin: 0 auto;
    /* padding: 3em; */
}


/* Top-Section */
section.top-section {
    display: flex;
    background: rgb(23,14,9);
    background: linear-gradient(90deg, rgba(23,14,9,1) 0%, rgba(88,52,29,1) 64%, rgba(23,14,9,1) 100%);
}

.top-section-container {
    display: flex;
    margin: 0 auto;

}

section.top-section div {
    width: 50%;
}

div.top-section-picture {
    display: block;
    position: relative;
    overflow: hidden;
}

div.top-section-picture:before{
    display: block;
    content: "";
    padding-top: 125%;
}

div.top-section-picture img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-section-heading {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
} 

.top-section-h1 {
    margin-top: 1.5em;
    font-size: 3em;
    width: 400px;
    height: 300px;
    color: #DCD0C3;
}

.top-section-button {
    width: 220px;
    height: 50px;
    font-size: 1.5em;
    text-transform: uppercase;
    border-radius: 0.4em;
    background-color: #ECB200;
    font-weight: 700;
}

/* Section-2 */

.adoption {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: flex-end;

    & h2, h4, .adoption-adopt{
        color: #4B5864;
    }
    & h2 {
        font-size: 3em;
        font-weight: 100;
    }

    & .adoption-heading, .adoption-adopt{
        margin-top: 2em;
    }
    & .adoption-section {
        margin-top: 4em;
    }
}

.adoption-heading, .adoption-adopt{
    width: 100%;
}

.adoption-section {
    width: 23%;
    margin: auto;
}

.adoption-section-wraper {

    
    & span {
        display: block;
        width: 2em;
        height: 2em;
        background-color: #ECB200;
        margin: auto;
        color: blanchedalmond;
        font-weight: 900;
        padding-top: 0.2em;
        z-index: 2;
    }
    
    & span:before {
        content: '';
        width: 15em;
        height: 2px;
        transform: translate(-48%);
        border: 1px solid #4B5864;
        opacity: 0.3;
        margin-top: 0.8em;
        position: absolute;
        z-index: 1;
    }
}

.adoption-block-icon {
    width: 8em;
    height: 8em;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;

    & a {
        display: block;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
    }
    & img {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: auto;
    }
}

.adoption-block-heading {
    margin-top: 1em;
}

.adoption-adopt {
    height: 50px;
    font-size: 1.5em;
    text-transform: uppercase;
    /* border-radius: 0.4em; */
    background-color: #ECB200;
    font-weight: 700;
}

section.galery {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    width: 100;
    background-color: #E9B72F;
    height: 60vh;

    & .galery-heading {
        //display: block;
        text-align: center;
        margin: auto;
        font-size: 3em;
        font-weight: 100;
        color: #4B5864;
        padding-top: 0.7em;
    }
    & .galery-images {
        display: flex;
    }
    & .galery-button {
        margin: auto;
        width: 12em;
        height: 3em;
        color: #4B5864;
        font-size: 1.3em;
        text-transform: uppercase;
        font-weight: 600;
        padding: 0.5em, 0, 0.5, 0;
        margin-bottom: 1em;
    }
}
.galery-images-container {
    margin-left: 0.1em;
    width: 15em;
    height: 30em;
    position: relative;
    & a {
        display: block;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        overflow: hidden;
    }
    & img {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: auto;
    }
}
.hero {
    max-width: 1200px;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: flex-end;
    background-color: #E9B72F;

    & .hero-heading {
        color: #4B5864;
        padding-top: 0.5em;
        font-size: 4em;
    }

    & .hero-content {
        display: flex;
        flex-wrap: wrap;

        & .hero-left-section, .hero-right-section  {
            width: 50%;
            height: auto;
        }

        & .hero-left-section {
            font-size: 2em;
            color: #4B5864;
            padding: 2em;
        }
    }

    & .hero-button {
        margin: auto;
        width: 96%;
        height: 3em;
        color: #4B5864;
        font-size: 1.3em;
        font-weight: 600;
        margin-bottom: 1em;
    }
}
.hero-right-section {
    position: relative;
    & a {
        display: block;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        overflow: hidden;
    }
    & img {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: auto;
    }
}

.sharo {
    background-color: #473021;
    & .sharo-text{
        display: flex;
        flex-direction: column;
        margin: auto;
        color: #DCD0C3;
        text-align: center;
        padding-top: 5em;
        padding-bottom: 7em;
    }

    & .sharo-text-heading {
        font-size: 3em;
    }
    & .sharo-paragraph {
        padding-bottom: 4em;
    }
    & .sharo-button {
        font-size: 1.2em;
        margin: auto;
        padding: 0.5em 0.8em;
        background-color: #ECB200;
        color: aliceblue;
        text-transform: uppercase;
        font-weight: 100;
    }

}
.sharo-wrapper {
    max-width: 1200px;
    margin: 3em auto;
    display: flex;

}
.sharo-logo {
    width: 50%;
    position: relative;
    & a {
        display: block;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        overflow: hidden;
    }
    & img {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        height: 80%;
        width: auto;
    }
}

.volunteer {
    background-image: url(/Pictures/accomplishment.jpg); 
}



