.site-header {
    display: flex;
    color: blanchedalmond;
    padding-left: 1em;
    background: rgb(23,14,9);
    background: linear-gradient(90deg, rgba(23,14,9,1) 0%, rgba(88,52,29,1) 64%, rgba(23,14,9,1) 100%);
}

.site-header-heading{
    font-size: 5em;
    padding: 0 1em 0 0.2em;
}


.site-header-nav {
    display: flex;
    margin-left: auto;
    box-sizing: border-box;
    padding-right: 1em;
    & .site-header-nav-ul {
        display: flex;
    }
    & .nav-li {
        display: block;
        padding: 0 1em;
        list-style: none outside;
        padding-top: 2em;
        transform: translate(0, -5em);
        opacity: 0;
        transition: opacity 0.8s, transform 0.3s ease-out;
    }
    & .nav-li:nth-child(2) { transition-delay: 0.2s; }
    & .nav-li:nth-child(3) { transition-delay: 0.4s; }
    & .nav-li:nth-child(4) { transition-delay: 0.2s; }
    & a {
        text-decoration: none;
        color: #BCA491;
        text-transform: uppercase;
        transition: color 0.3s ease-in;
    }
    & a:hover {
        color: #ECB200;
    }
}

.loaded {
    & .nav-li {
        opacity: 1;
        transform: translate(0, 0);
    }
}






