html {
    font: 16px/1.5 Helvetica, sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat&display=swap');
@font-face {
    font-family: "icomoon";
    src: url("/Fonts/icomoon.eot");
    src: url("/Fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("Fonts/icomoon.woff")
        format("woff"), url("Fonts/icomoon.ttf") format("truetype"), url("Fonts/icomoon.svg#icomoon")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }

body, input, textarea, option, select, table, form, article, section {
    font: inherit;
}

h1 { font-size: 2.5em; }
h2 { font-size: 2.1em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.45em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

p, ul, ol, blockquote {
    /* padding-bottom: 1.5em; */
}

blockquote { 
    padding-left: 4em;
    font-style: italic;
    opacity: 0.8;
}

