<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
    <script>
        window.addEventListener('load', (event) => {
            document.querySelector('body').classList.add('loaded');            
        });
    </script>
</head>
<body>
    <div class="site">

        <header class="site-header">
        {% include navigation.html location=header %}  
        </header>

        {{ content }}

        {% include footer.html location=body %}
    </div>
</body>
</html>