<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
</head>
<body>
    <div class="site">

        <header class="site-header">
            <h1 class="site-header-heading">{{ site.title }}</h1>
            <nav class="site-header-nav">
                <ul class="site-header-nav-ul">
                    <li class="nav-li"><a href="#">Home</a></li>
                    <li class="nav-li"><a href="#">Donate</a></li>
                    <li class="nav-li"><a href="#">Our Animals</a></li>
                    <li class="nav-li"><a href="#">The Cause</a></li>
                    <li class="nav-li"><a href="#">Shop</a></li>
                    <li class="nav-li"><a href="#">Contancts</a></li>
                    <li class="nav-li"><a href="#">Like us</a></li>
                </ul>
            </nav>
        </header>

        <main class="site-main">

            <section class="top-section">
                <div class="top-section-container">
                    <div class="top-section-picture">
                        <img src="{{ site.baseurl }}/Pictures/buck3.png" alt="Dog Image">
                    </div>
                    <div class="top-section-heading">
                        <h1 class="top-section-h1">
                            I am one of the many who need your help!
                        </h1>
                        <button class="top-section-button">
                            Donate
                        </button>
                    </div>
                </div>
            </section>

            <section class="adoption">

                <h2 class="adoption-heading">
                    Do you want to do more? Adoption is simple and rewarding!
                </h2>

                <div class="adoption-section">
                    <div class="adoption-section-wraper">
                        <div class="adoption-block-icon">
                            <a href="#">
                                <img src="{{ site.baseurl }}/Pictures/home_animalshelter_howitworks1.png" alt="">
                            </a>
                        </div>
                        <span class="number">1</span>
                        <h4 class="adoption-block-heading">
                            Choose an animal in need
                        </h4>
                    </div>
                </div>

                <div class="adoption-section">
                    <div class="adoption-section-wraper">
                        <div class="adoption-block-icon">
                            <a href="#">
                                <img src="{{ site.baseurl }}/Pictures/home_animalshelter_howitworks3.png" alt="">
                            </a>
                        </div>
                        <span class="number">2</span>
                        <h4 class="adoption-block-heading">
                            Fill the adoption form
                        </h4>
                    </div>
                </div>

                <div class="adoption-section">
                    <div class="adoption-section-wraper">
                        <div class="adoption-block-icon">
                            <a href="#">
                                <img src="{{ site.baseurl }}/Pictures/home_animalshelter_howitworks2.png" alt="">
                            </a>
                        </div>
                        <span class="number">3</span>
                        <h4 class="adoption-block-heading">
                            Let's meet!
                        </h4>
                    </div>
                </div>

                <div class="adoption-section">
                    <div class="adoption-section-wraper">
                        <div class="adoption-block-icon">
                            <a href="#">
                                <img src="{{ site.baseurl }}/Pictures/dogicon.png" alt="">
                            </a>
                        </div>
                        <span class="number">4</span>
                        <h4 class="adoption-block-heading">
                            You have a new furry friend!
                        </h4>
                    </div>
                </div>

                <button class="adoption-adopt">
                    adopt
                </button>

            </section>

            <section class="galery">
                <h2 class="galery-heading">
                    Sharo's dogs and cats.
                </h2>
                <div class="galery-images">

                    <div class="galery-images-container">
                        <a href="#">
                            <img src="{{ site.baseurl }}/Pictures/Rony001.jpg" alt="">
                        </a>
                    </div>
                    <div class="galery-images-container">
                        <a href="#">
                            <img src="{{ site.baseurl }}/Pictures/lesi001.jpg" alt="">
                        </a>
                    </div>
                    <div class="galery-images-container">
                        <a href="#">
                            <img src="{{ site.baseurl }}/Pictures/linda002.jpg" alt="">
                        </a>
                    </div>
                    <div class="galery-images-container">
                        <a href="#">
                            <img src="{{ site.baseurl }}/Pictures/mario005.jpg" alt="">
                        </a>
                    </div>
                    <div class="galery-images-container">
                        <a href="#">
                            <img src="{{ site.baseurl }}/Pictures/taz002.jpg" alt="">
                        </a>
                    </div>
                    <div class="galery-images-container">
                        <a href="#">
                            <img src="{{ site.baseurl }}/Pictures/viki005.jpg" alt="">
                        </a>
                    </div>
                    <div class="galery-images-container">
                        <a href="#">
                            <img src="{{ site.baseurl }}/Pictures/asen006.jpg" alt="">
                        </a>
                    </div>
                                        
                </div>   

                <button class="galery-button">
                    see our animals
                </button>
            </section>

            <section class="hero">

                <h2 class="hero-heading">
                    Do you want to be a hero?
                </h2>

                <div class="hero-content">
                    <div class="hero-left-section">
                        <p>It’s easy! Become a member of Sharo’s club and help our animals on a monthly basis. There are 3 different memberships you can choose from.</p>
                    </div>

                    <div class="hero-right-section">
                        <a calss="hero-right-section-img" href="#">
                            <img src="{{ site.baseurl }}/Pictures/TripleMedal.png" alt="">
                        </a>
                    </div>
                </div>

                <button class="hero-button">
                    Yes, I wnat to be a hero!
                </button>

            </section>

            <section class="sharo">
                <div class="sharo-wrapper">
                    <div class="sharo-logo">
                        <a href="#">
                            <img src="{{ site.baseurl }}/Pictures/doggy2.png" alt="">
                        </a>
                    </div>

                    <div class="sharo-text">
                        <h2 class="sharo-text-heading">
                            Who is Sharo?
                        </h2>
                        <p class="sharo-paragraph">Read more about our cause</p>
                        <button class="sharo-button">
                            read more
                        </button>
                    </div>
                </div>

            </section>

            <section class="volunteer">

                <div class="volunteer-box">
                    <h2 class="volunteer-box-heading">
                        Volunteer with us!
                    </h2>
                    <p class="volunteer-box-paragraph">Behind every noble cause there is a team of people who believe in it and make things happen. We need people to pick up and drop off animals, help with adoptions and donations. Every little thing helps!</p>
                    <button class="volunteer-box-button">
                        Join the team!
                    </button>

                </div>
            </section>

        </main>

        <footer class="site-footer">
            <div class="site-footer-wapper">
                <div class="site-footer-about">
                    <h4 class="site-footer-about-heading">
                        About us
                    </h4>
                    <p class="site-footer-about-paragraph">We started as a group of volunteers, united by their love for animals. Our devotion to rescuing, caring and finding home for stray dogs and cats helped a lot of animals be saved. Inspired by these results, we decided to set up our animal rescue foundation - “Sharo”.</p>
                    <a href="#" class="site-footer-about-link">Follow us in:</a>
                </div>

                <div class="site-footer-contacts">
                    <h4 class="site-footer-contacts-heading">
                        Contact with us
                    </h4>
                    <p class="site-footer-contacts-paragraph">You can easily find us via:</p>
                    <ul class="site-footer-contacts-ul">
                        <li class="site-footer-contacts-ul-li">
                            <a href="#">facebook</a>
                        </li>
                        <li class="site-footer-contacts-ul-li">
                            <a href="#">+359(0) 883 70 54 52</a>
                        </li>
                        <li class="site-footer-contacts-ul-li">
                            <a href="#">office@sharo.bg</a>
                        </li>
                    </ul>
                </div>

                <div class="site-footer-links">
                    <h4 class="site-footer-links-heading">
                        Links
                    </h4>
                    <a href="#">The Charity Food</a>
                    <input type="text">
                </div>

                <div class="site-footer-bottom">
                    <p class="site-footer-rights"> 2019 Sharo. &copy; All Rights Reserved.</p>
                    <a href="#">Muffin group</a>
                    <div class="site-footer-arrowToTheTop">/\</div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>